{{! discourse-sms-login/assets/javascripts/discourse/templates/password-login.hbs }}
<div class="password-login">
  <h2>密码登录</h2>
  
  <div class="login-options">
    <button class="btn" {{action "showSmsLogin"}}>短信登录</button>
    <button class="btn btn-primary active">密码登录</button>
  </div>
  
  <Input @type="text" @value={{this.phone}} placeholder="手机号" class="form-control" />
  
  <div class="password-toggle">
    <Input @type={{this.inputType}} @value={{this.password}} placeholder="密码" class="form-control" />
    <i class="{{this.iconClass}} toggle-icon" {{action "toggleVisibility"}}></i>
  </div>
  
  <button class="btn btn-primary" {{action "login"}}>登录</button>
  
  <div class="forgot-password">
    <a href="#" {{action "showResetPassword"}}>忘记密码，点击进行重置></a>
  </div>
</div>