{{! discourse-sms-login/assets/javascripts/discourse/templates/reset-password-new.hbs }}
<div class="reset-password-new">
  <h2>设置新密码</h2>
  
  <div class="password-toggle">
    <Input @type={{this.inputType}} @value={{this.newPassword}} placeholder="新密码" class="form-control" />
    <i class="{{this.iconClass}} toggle-icon" {{action "toggleVisibility"}}></i>
  </div>
  
  <div class="password-toggle">
    <Input @type={{this.inputType}} @value={{this.confirmPassword}} placeholder="确认新密码" class="form-control" />
    <i class="{{this.iconClass}} toggle-icon" {{action "toggleVisibility"}}></i>
  </div>
  
  <button class="btn btn-primary" {{action "submitNewPassword"}}>提交</button>
</div>