{{! discourse-sms-login/assets/javascripts/discourse/templates/reset-password-verify.hbs }}
<div class="reset-password-verify">
  <h2>验证身份</h2>
  
  <p>验证码已发送至: {{this.phone}}</p>
  
  <Input @type="text" @value={{this.verificationCode}} placeholder="请输入验证码" class="form-control" />
  
  <button class="btn btn-resend" disabled={{this.resendDisabled}} {{action "sendCode"}}>
    {{#if this.resendDisabled}}
      重新发送({{this.resendCount}}s)
    {{else}}
      重新发送
    {{/if}}
  </button>
  
  <button class="btn btn-primary" {{action "verifyCode"}}>下一步</button>
</div>