{{! discourse-sms-login/assets/javascripts/discourse/templates/sms-verify.hbs }}
<div class="sms-verify">
  <h2>短信验证</h2>
  
  <p>验证码已经发送至: {{this.phone}}</p>
  
  <Input @type="text" @value={{this.verificationCode}} placeholder="请输入验证码" class="form-control" />
  
  <button class="btn btn-resend" disabled={{this.resendDisabled}} {{action "sendCode"}}>
    {{#if this.resendDisabled}}
      重新发送({{this.resendCount}}s)
    {{else}}
      重新发送
    {{/if}}
  </button>
  
  <div class="terms">
    <Input @type="checkbox" @checked={{this.agreeTerms}} />
    <label>同意并愿意遵守隐私政策和使用条款</label>
  </div>
  
  <button class="btn btn-primary" disabled={{not this.canLogin}} {{action "login"}}>登录</button>
</div>